* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    max-width: 900px;
}
img {
    width: 300px;
    margin: 20px 60px auto;
    border-style: dashed;
    align-items: center;
}
.s2 {
    width: 325px;
}
.sc {
    background-color: silver;
    width: 85%;
    max-width: 900px;
    margin: 0px auto;
    padding: 24px;
    border-style: groove;
    border-color: black;
}
.hs {
    text-decoration: underline;
    text-align: center;
}
h5.edit {
    font-weight: 800px;
}
span.middle {
    font-weight: bold;
}
.middle {
    text-align: center;
}