@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(213, 156, 156);
h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
h2 {
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
#single-column-layout {
    width: 80%;
    max-width: 800px;
    margin: 48px auto;
}
#nav {
    background-color: #222;
    display: flex;
    gap: 24px;
    padding: 24px 0px;
    justify-content: center;
}
#nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
h1 {
    font-size: 64px;
    text-align: center;
}
.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    padding-top: 24px;
}
.card {
    border: 5px solid #060626;
    padding: 36px;
    flex: 1;
    min-width: 200px;
    background-color: white;
}
.card img {
    height: 130px;
    width: 285px;
}
.card h2 {
    margin: 24px 0px 12px;
    font-size: 36px;
}
.card p {
    margin: 0px;
}
@media screen and (max-width: 700px) {
    #card-container {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 480px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 24px;
    }
}
h2 {
    text-align: center;
    font-size: xx-large;
}
.h2-2 {
    text-align: center;
    font-size: xx-large;
    border: 3px solid black;
    margin: 6px 12px 6px;
    padding: 6px 12px 6px;
    background-color: beige
}
.vs {
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
#h3 {
    text-align: center;
    font-size: x-large;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding: 12px 24px 6px;
}
#h3-2 {
    text-align: center;
    font-size: x-large;
    border: 3px solid #060626;
    padding: 8px 6px 8px ;
    background-color: beige;
    margin: 12px 6px 12px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
#h3-3 {
    text-align: center;
    font-size: x-large;
    border: 3px solid #060626;
    padding: 8px 6px 8px ;
    background-color: beige;
    margin-left: 200px;
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.content .btn {
    display: inline-block;
    background-color: #002244;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    margin-right: 200px;
    margin-left: 150px;
    border-radius: 35px;
}
.content .btn2 {
    display: inline-block;
    background-color: #C60C30;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 35px;
}
.arrow {
    width: 20px;
}
.s4 {
    text-decoration: underline
}
.pp {
    text-align: center;
}
.s5 {
    text-decoration: underline;
}