#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}
h4.chapter {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
h4.edit {
    color: red;
    font-weight: bold;
    font-size: 24px;
    font-style: italic
}
li.edit {
    color: orange;
    font-style: italic;
}
div.chapter {
    border-bottom: solid;
    font-size: large;
}
ul.edit {
    color: red;
}
li.chapter {
    color: red;
}
#sidebar + div {
    padding: 12px 36px;
    margin: 12px 14px ;
}