* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.single-column {
    width: 90vw;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.spilt-layout {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 40px;
}
.image-container,
.content {
    flex: 1;
}
#main-section {
    padding: 24px;
}
.b1 {
    font-weight: bold;
}
.p1 {
    border: black;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 55%;
    margin: 0px auto;
    color: white;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 6px 6px;
    max-width: 55%;
}
span {
    margin: 4px 24px;
}
.jalepeno {
    width: 50%;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.h1 {
    text-align: center;
}
.s2 {
    text-align: center;
}
.card {
    padding: 6px 8px;
    margin: 2px 2px;
}